{erl_opts, [
	warnings_as_errors,
	warn_export_all,
	warn_untyped_record,
	inline,
	debug_info
]}.

{edoc_opts, [
	{todo, true},
	{private, true}
]}.

{eunit_opts, [
	verbose,
	{print_depth, 500}
]}.

{plugins, [
	rebar3_hex
]}.

{xref_checks, [
	fail_on_warning,
	undefined_function_calls
]}.

{dialyzer, [
	{warnings, [unmatched_returns, error_handling, race_conditions, underspecs]},
	{get_warnings, true},
	{plt_extra_apps, [compiler]}
]}.
